* {
    box-sizing: border-box;
  }
  
  body {
    background-color: lightyellow;
    padding: 20px;
    font-family: Arial;
  }
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    height: 500px;
  }

  .column1 {
    float: left;
    width: 50%;
    height: 700px;
  }
  
  .intro {
      background-color: lightblue;
      padding: 10px;
      float: left;
      width: 50%;
  }
  /* .intropara {
      width: 50%;
      float: right;
      padding: 10px;
      background-color: lightblue;
  } */

  .mycolumn {
    float: left;
    width: 80%;
    height: 600px;
  }

  .bigcolumn {
    width: 80%;
    float: center;  
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: rgb(142, 199, 156);
    padding: 10px;
    width: 400px;
    height: 400px;
    border-width: 4px;
    border-color: blue;
    border-style: solid;
    border-radius: 10px;
  }

  .contentphoto {
    /* background-color: rgb(142, 199, 156); */
    /* padding: 10px; */
    width: 400px;
    height: 400px;
    border-width: 0px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
  }

  .content1 {
    background-color: black;
    padding: 10px;
    width: 400px;
    height: 400px;
    border-width: 0px;
    border-color: blue;
    border-style: solid;
    border-radius: 10px;
  }

  .zine {
    background-color: rgb(142, 199, 156);
    padding: 10px;
    width: 400px;
    height: 600px;
    border-width: 4px;
    border-color: blue;
    border-style: solid;
    border-radius: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
